.grip {
  display: none;
}

.preview {
  overflow: auto;
  width: 100%;
}

.markdown-container {
  height: 100%;
}

.markdown {
  height: calc(100% - 44px);
  letter-spacing: 0px;
  line-height: 30px;
  word-spacing: 0px;
  font-family: monospace;
  font-weight: 400;
  font-size: 1.1rem;
}

.markdown-title {
  height: 44px;
  background: #f9f9f9;
  line-height: 44px;
  padding-left: 10px;
  border-right: 1px solid #d6d6d6;
  position: relative;
}

.CodeMirror-cursor {
  border-left: 2px solid #000;
}

.CodeMirror {
  height: 100%;
  padding: 0;
}

.activeline {
  background: #d32f2f0f;
}

.activeline + div .CodeMirror-linenumber {
  background: #d32f2f2e;
}

/* div,
p {
  margin: 0;
  padding: 0;
} */

.preview-title {
  height: 44px;
  background: #f9f9f9;
  border-bottom: 1px solid #cecece;
  border-left: 0px;
  line-height: 44px;
  padding-left: 10px;
}

.preview thead {
  background: #fff;
}

/* .preview table {
  border-spacing: 0;
}

.preview table th {
  height: 25px;
  background: #fafafa;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}

.preview table td {
  border-bottom: 1px solid #e8e8e8;
  -webkit-transition: all 0.3s, border 0s;
  transition: all 0.3s, border 0s;
  height: 25px;
  padding: 10px;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-b;
}

.preview table tr:hover {
  background: #e6f7ff;
} */

.preview-title-left {
  width: 50%;
  float: left;
  display: flex;
  color: #949494;
  font-size: 14px;
}

.preview-title-right {
  width: 50%;
  float: left;
  display: flex;
}

.preview-container {
  height: 100%;
}

.preview {
  overflow: auto;
  width: calc(100% - 20px);
  height: calc(100% - 44px);
  padding: 15px;
}

.CodeMirror-sizer {
  margin-left: 50px;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
  width: 50px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  height: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #616161;
}

.dialog-content {
  line-height: 30px;
  color: #8a8a8a;
  font-size: 14px;
}

.full-screen-btn {
  position: absolute !important;
  right: 0;
}

.import-md-btn {
  width: 150px;
  position: relative;
}

.import-md-btn input {
  opacity: 0;
  width: 150px;
  display: inline-block;
  position: absolute;
  left: 0;
}
