/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.grip {
  display: none;
}

.preview {
  overflow: auto;
  width: 100%;
  background: white;
}

.markdown-container {
  height: 100%;
}

.markdown {
  height: calc(100% - 35px);
  letter-spacing: 0px;
  line-height: 30px;
  word-spacing: 0px;
  font-family: monospace;
  font-weight: 400;
  font-size: 1.1rem;
}

.markdown-title {
  height: 35px;
  background: #f9f9f9;
  line-height: 35px;
  border-right: 1px solid #d6d6d6;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.title-file-list {
  width: calc(100% - 100px);
  overflow-x: auto;
  display: inline-block;
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.title-file-list::-webkit-scrollbar {
  background-color: transparent;
}

.CodeMirror-cursor {
  border-left: 2px solid #000;
}

.CodeMirror {
  height: 100%;
  padding: 0;
}

.activeline {
  background: #61616117;
}

.activeline + div .CodeMirror-linenumber {
  background: #61616133;
}

/* div,
p {
  margin: 0;
  padding: 0;
} */

.preview-title {
  height: 35px;
  background: #f9f9f9;
  border-left: 0px;
  line-height: 35px;
  padding-left: 10px;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-left: 1px solid #cecece;
}

.preview thead {
  background: #fff;
}

/* .preview table {
  border-spacing: 0;
}

.preview table th {
  height: 25px;
  background: #fafafa;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  border-bottom: 1px solid #e8e8e8;
}

.preview table td {
  border-bottom: 1px solid #e8e8e8;
  -webkit-transition: all 0.3s, border 0s;
  transition: all 0.3s, border 0s;
  height: 25px;
  padding: 10px;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.65);
  -webkit-box-sizing: border-b;
}

.preview table tr:hover {
  background: #e6f7ff;
} */

.preview-title-left {
  width: 50%;
  float: left;
  display: flex;
  color: #949494;
  font-size: 14px;
}

.preview-title-right {
  width: 48%;
  float: left;
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  font-size: 0.7rem;
}

.preview-title-right .key {
  font-size: 0.6rem;
  color: #949494;
}

.preview-container {
  height: 100%;
}

.preview {
  overflow: auto;
  width: calc(100% - 30px);
  height: calc(100% - 66px);
  padding: 15px;
}

.CodeMirror-sizer {
  margin-left: 50px;
}

.CodeMirror-gutter.CodeMirror-linenumbers {
  width: 50px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  height: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #616161;
}

.dialog-content {
  line-height: 30px;
  color: #8a8a8a;
  font-size: 14px;
}

.full-screen-btn {
  position: absolute !important;
  right: 6px;
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  top: 3px;
}

.show-preview-btn {
  position: absolute !important;
  right: 66px;
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  top: 3px;
}

.help-btn {
  position: absolute !important;
  right: 36px;
  width: 30px !important;
  height: 30px !important;
  padding: 0 !important;
  top: 3px;
}

.import-md-btn {
  width: 100px;
  position: relative;
}

.import-md-btn input {
  opacity: 0;
  width: 150px;
  display: inline-block;
  position: absolute;
  left: 0;
}

.document-list {
  width: 90%;
  box-shadow: none;
  margin: 0 auto !important;
}

.document-list > div {
  /* background: #30303052; */
  /* width: 90%; */
  box-shadow: none;
}

span.help-key {
  color: #040404;
}

.setting-icon {
  padding: 10px !important;
  margin-left: 5px;
}

.setting-icon .material-icons {
  font-size: 1.3rem;
}

.setting-value {
  display: inline-block;
  float: right;
  position: absolute;
  right: 45px;
}

.setting-row {
  height: 60px;
  line-height: 60px;
  width: 100%;
  position: relative;
}

span.setting-key {
  color: #505050;
}

.mark-title {
  border: none;
  background: none;
  outline: none;
  font-size: 0.8rem;
}

.title-item-wrap.selected {
  background: #f9f9f9;
}

.title-item-wrap {
  width: 100px;
  padding: 0 5px 0 5px;
  height: 35px;
  margin: 0;
  border-right: 1px solid #fff;
  cursor: pointer;
  background: #d9d9d9;
  line-height: 35px;
}

.title-item {
  width: 90%;
  float: left;
  height: 100%;
  font-size: 0.8rem;
  word-break: break-all;
}

.title-item-status {
  width: 10%;
  float: left;
  height: 100%;
  text-align: center;
  display: none;
}

.title-item-wrap.selected .title-item-status {
  display: inline-block;
}

.title-item-wrap:hover .title-item-wrap .title-item-status {
  display: inline-block;
}

.unsave-icon {
  background: #8c8888;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.title-item-wrap:hover > .title-item-status {
  display: inline-block;
}

.title-item-status.unsave {
  display: inline-block !important;
}

.title-item-status.unsave:hover {
  display: none;
}

.file-action-icon {
  display: none;
}

.title-list-ite:hover + .file-action-icon {
  display: inline-block;
}

.file-action-icon:hover {
  display: inline-block;
}

.doc-action-btn {
  padding: 3px !important;
}

.doc-title-input > span {
  width: 145px;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}

.word-count {
  margin-left: 10px;
  text-align: center;
}
